{% extends 'base.html.twig' %}
{% block body %}
<div class="restricted_container activities">
  <h1>Le club de pêche en bord de mer de La Turballe vous présente ses activités:</h1><br>
    <ul>
    <li><h2>Sorties de pêche amicales en Presqu'ile.</h2></li><br>
    <li><h2>Concours fédéraux pour ceux que la compétition intéresse.</h2></li><br>
    <li><h2>Concours internes au club.</h2></li><br>
    <li><h2>La nuit du SURF-CASTING TURBALLAIS, concours de 16 heures, non stop, par équipes de 3 pêcheurs.</h2></li><br>
    <li><h2>Ramassage d'appâts en commun.</h2></li><br>
    <li><h2>Entraînement au lancer.</h2></li><br>
    <li><h2>Atelier mensuel pour réaliser des montages, découvrir de nouveaux matériels ou procédés,...</h2></li><br>
    <li><h2>Réunion mensuelle d'organisation de la vie du club.</h2></li>
    </ul>
</div>
{% endblock %}
