{% extends 'base.html.twig' %}
{% block body %}
<div class="restricted_container">
  {% for tag in tags %}
  <h3 class="tag">{{tag.label}}</h3>
  <div class="galery-container">
    {% for picture in tag.galeryPictures %}
    <div class="box">
      <img src="{{asset('galery_pictures/' ~ picture.imageName)}}" alt="{{picture.comment}} {% for tag in picture.tags %}
      {{tag.label}}
      {% endfor %}" class="image">
    </div>
    {% endfor %}
  </div>
  {% endfor %}


  <!-- The expanding image container -->
  <div class="container">
    <!-- Close the image -->
    <span  class="closebtn">&times;</span>

    <!-- Expanded image -->
    <img id="expandedImg">

    <!-- Image text -->
    <div id="imgtext"></div>
  </div>
</div>
{% endblock %}
