{% extends 'base.html.twig' %}

{% block body %}
<div id="header-image">
  <div id="header-logo">
    <p>CST</p>
    <p>Club  de Surfcasting de La Turballe</p>
  </div>
</div>
<div class="footer">
  <p>Rejoingnez notre groupe FaceBook <a href="https://www.facebook.com/groups/962506810816597"></a></p>
  <p>Le site du club <a href="https://www.pechesousmarine.fr">SCT</a></p>
</div>
{% endblock %}
