{% extends 'base.html.twig' %}
{% block body %}
<div class="restricted_container">
<h2>Mentions legales</h2>
<hr>
<h4>Développeur</h4>
<p>Ce site est développé et maintenu par Christophe Lanco</p>
<hr>
<h4>Hébergeur</h4>
<p>Ce site est hébergé chez OVH</p>

</div>
{% endblock %}
