{% extends 'base.html.twig' %}
{% block body %}
<div class="restricted_container">
  <h2>Politique de confidentialité</h2>
  <br>
  L'association SURF-CASTING TURBALLAIS s’engage à respecter la réglementation en vigueur applicable au traitement de données à caractère personnel et,
  en particulier, le règlement (UE) 2016/679 du Parlement Européen et
  du Conseil du 27 avril 2016 applicable à compter du 25 mai 2018 (aussi appelé « le Règlement Général sur la Protection des Données – RGPD »).
  <br><br>
  <h4><strong>1 - COLLECTE DE L'INFORMATION</strong></h4>
  <br>
  <p>L'association collecte des informations lors de l'adhésion à l'association ou lorsqu'elle reçoit une demande via son formulaire contact.
  Les informations recueillies incluent le nom, le prénom, l'adresse email (courriel).</p>
  <br><hr><br>
  <h4><strong>2 - UTILISATION DES INFORMATIONS</strong></h4>
  <br>
  <p>Toutes les informations recueillies auprès des adhérents peuvent être utilisées pour :
  <br>
    - Gérer les adhésions et la comptabilité de l’association</br>
    - Répondre aux demandes de contact et d'information des adhérents ou non-adhérents</br>
    - Communiquer aux adhérents les informations relatives à la vie de l’association</br>
    - Inviter et mobiliser des adhérents bénévoles pour les différentes manifestations de l'association</p>
  <br><hr><br>
  <h4><strong>3 - CONFIDENTIALITÉ DES DONNÉES</strong></h4>
  <br>
  <p>L'association est seule propriétaire des informations recueillies.
  Les informations personnelles ne seront pas vendues, échangées ou données à une autre société ou association.</p>
  <br><hr><br>
  <h4><strong>4 - PROTECTION DES INFORMATIONS</strong></h4>
  <br>
  <p>Les informations personnelles sont enregistrées dans une base de données qui </p>

</div>
{% endblock %}
