{% extends 'base.html.twig' %}
{% block body %}
<div class="restricted_container">
  <h1>Nos sponsors & partenaires</h1>
  {% for sponsor in sponsors %}
  <div class="card">
    <div class="card-main-sponsor">
      <img src="{{asset('sponsor_images/' ~ sponsor.imageName)}}" alt="{{sponsor.title}}">
    </div>
    <div class="card-footer">
      <p>{{ sponsor.title}}</p>
      <p>{{ sponsor.adress}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
