{% extends 'base.html.twig' %}

{% block body %}
<div class="restricted_container useful-link">
  <br>
  <p>Arrêté municipal portant sur la réglementation de la pêche sur les plages de La Turballe
    <a href="{{ asset('assets/brochures/arrete_municipal.pdf') }}" target="_blank" >Arrêté municipal (PDF)</a>
  </p><hr>
  <p>Prévision météo, force du vent et des vagues sur La Turballe.
    <a href="https://www.windguru.cz/48503" target="_blank">Windguru</a>
  </p><hr>
  <p>Informations sur les marées pour le port de Saint Nazaire
    <a href="http://www.maree.info/117" target="_blank">Marée Saint Nazaire</a>
  </p><hr>
  <p>Site de la Fédération Française des Pêches Sportives des Pays de la Loire
    <a href="https://ffpspaysdeloire.webmo.fr/" target="_blank">FFPS des pays de la Loire</a>
  </p><hr>
  <p>Informations sur les marées et l'activité des poissons sur La Turballe
    <a href="https://mareespeche.com/fr/pays-de-la-loire/la-turballe" target="_blank">Marées Pêche - La Turballe</a>
  </p>
</div>
{% endblock %}
