{% extends 'base.html.twig' %}

{% block body %}
<div class="restricted_container">
  <br>
  <h5>BAS DE LIGNE A PERLES CLIPSABLES 2021
    <a class="link" href="{{ asset('assets/brochures/BAS DE LIGNE A PERLES CLIPSABLES 2021.pdf') }}" target="_blank" >(PDF)</a>
  </h5><hr>
</div>

{% endblock %}
