{% extends 'base.html.twig' %}

{% block body %}
<div class="restricted_container useful-link">

  {% for folder in folders %}
      <h4>{{folder.title}}</h4>
      {% for file in folder.docFiles %}
          <a href="{{ asset('files/'~ file.fileName)}}" target="blanc"pdf><small><i>{{ file.title }} (PDF)</small></i></a><br>
      {% endfor %}
      <hr><br>
  {% endfor %}

</div>
{% endblock %}
