{% extends 'base.html.twig' %}

{% block body %}
<div class="restricted_container useful-link">
  <br>
  <p>Bas de ligne à perles clipsables 2021
    <a class="link" href="{{ asset('assets/brochures/BAS DE LIGNE A PERLES CLIPSABLES 2021.pdf') }}" target="_blank" >(PDF)</a>
  </p><hr>
  <p>Fichier des licenciés 2021
    <a class="link" href="{{ asset('assets/brochures/FICHIER DES LICENCIES 2021.pdf') }}" target="_blank" >(PDF)</a>
  </p><hr>
  <p>Nos sites de pêche
    <a class="link" href="{{ asset('assets/brochures/SITES 2016.pdf') }}" target="_blank" >(PDF)</a>
  </p><hr>
</div>

{% endblock %}
