.card{
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  margin:10px 10px 10px 0px;
  width:32%;
}
.card-header{
  overflow-y: auto;
  text-align: center;
  background-color:#a4c3f5;
  height:10vh  ;
  padding:10px;
}
.card-main{
  background-color:#f0f4f5;
  height:20vh;
  padding:10px;
  overflow-y: auto;
}
.card-footer{
  text-align:left;
  background-color:#0a3d62;
  height:1S5vh;
  padding:10px;
}
.card-footer p{
  color:#fff;
  font-style: italic;
  font-size: 12px;
}
@media screen and (max-width:1300px){
  .card{
    width:45%;
  }
}
@media screen and (max-width:1024px){
  .card{
    width:100%;
  }
  .card-header{
    font-size: 12px;
  }
}
