/* -------------------
   *** LAYOUT ***
------------------- */
.dashboard-core{
  display: flex;
}
.nav-bar{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:15%;
}
.dashboard-content{
  width:85%;
}
.nav-links{
  display:flex;
  flex-direction:column;
}
/* -------------------
   *** MODULS ***
------------------- */
a{
  text-decoration:none;
}
.dashboard-header{
  text-align:center;
  color: gray;
}
.nav-logo{
  padding:30px 0;
}
.nav-links a{
  color:gray;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 50px;
}
/* ALERT */
.alert{
  width: 100%;
  margin:15px 0;
  padding:15px 15px;
  border-radius: 10px;
  color: black;
}
.alert-success{
  background-color:#2ecc71;
}
.alert-danger{
  background-color:#e74c3c;
}
.form{
  width:80%;
}
.form-control{
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0px;
  border: 1px solid #ccc;
  box-shadow : 5px 5px 5px 5px lightgray;
  border-radius: 7px;
  font-family: sans-serif;
  font-size: 1rem;
}
label{
  margin-top : 20px;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-style: italic;
  color:Navy;
}
.btn{
  width:fit-content;
  margin-top:10px;
  padding: 7px;
  border-radius: 5px;
  font-size:1rem;
  color:white;
}
.btn-primary{background-color:#0a3d62;}
.btn-danger{background-color:#e74c3c;}
.btn-success{background-color:#2ecc71;}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {primary
  background-color: #dddddd;
}
textarea{
  font-family: serif;
}
