* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body{
  background-image: url('../pictures/carte1.png');
}
.main{
  z-index: 1;
}

/* ---- PICTURES ---- */
.wave-container{
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/pictures/plage.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height:80vh;
}
#header-logo{
  width: 40%;
  text-align: center;
  border:3px solid black;
  color:black;
}
#header-logo p:first-child{
  margin:50px 0px 0px 0px;
  letter-spacing:7px;
  font-family: "EB Garamond";
  font-size: 45px;
}
#header-logo p:last-child{
  margin:20px 0px 50px 0px;
  font-family: Helvetica, sans-serif;
  letter-spacing:4px;
  font-size: 25px;
}
@media screen and (max-width: 768px){
  #header-image{
    background-image: url("../../assets/pictures/plage_small_screen.jpg");
  }
  #header-logo{
    width: 60%;
  }
  #header-logo p:first-child{
    margin:30px 0px 0px 0px;
    letter-spacing:7px;
    font-family: "EB Garamond";
    font-size: 30px;
  }
  #header-logo p:last-child{
    margin:20px 0px 30px 0px;
    font-family: Helvetica, sans-serif;
    letter-spacing:4px;
    font-size: 18px;
  }
}
/* ---- PICTURES END ---- */

.restricted_container{
  margin:30px auto 0 auto;
  padding:0 20px 10px 20px;
  border-radius:10px;
  background-color: white;
  width: 80%;
}
/* ---- USEFULL LINK ---- */
.useful-link{
  font-size: 1.2rem;
}
.useful-link p{
  margin:10px 0;
}
.useful-link a{
  text-decoration: none;
  color:Navy;
  font-style: italic;
}
/* ---- TABLE ---- */
.table{
  width:100%;
}
/* ALERT */
.alert{
  width: 100%;
  margin:15px 0;
  padding:15px 15px;
  border-radius: 10px;
  color: black;
}
.alert-success{
  background-color:#2ecc71;
}
.alert-danger{
  background-color:#e74c3c;
}
/* ---- FOOTER ---- */
.footer{
  height:15vh;
  background-color:black;
  display:flex;
  align-items: center;
}
.footer a{
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  color:white;
}
.footer span{
  font-size: 22px;
  color: white;
}
.footer i{
  font-size: 50px;
}
/* ---- EMOJI ---- */
.emoji:hover{
  cursor: pointer;
}
.emoji-trigger:hover{
  cursor: pointer;
}
.emoji-picker{
  width: 80%;
}
@media screen and (max-width: 768px){
  .emoji-trigger{
    display: none;
  }
}
