/* ---- NAVBAR ---- */
.nav-bar{
  z-index: 3;
  position:sticky;
  top: 0;
  width: 100%;
  height: 130px;
  font-family: Ubuntu;
  display:flex;
  justify-content:space-around;
  background-color:#fff;
  align-items:center;
}
.nav-logo img{
  width:120px;
}
.nav-links{
  display:flex;
  justify-content: space-between;
  width:80%;
}
.nav-links li{
  list-style:none;
  cursor:pointer;
}
.nav-links li a, .nav-links li{
  font-familly:sans-serif;
  font-size:18px;
  color: grey;
}
.nav-links>li:first-child>a{
  text-transform:uppercase;
}
.nav-links>li:last-child{
  background-color:lightgray;
  border-radius: 25px;
  padding: 0 10px;
}
.nav-links>li:last-child a{
  color:black;
}
.nav-sublinks{
  position:absolute;
  display:flex;
  flex-direction: column;
  background-color:white;
  padding:0 10px;
  visibility:hidden;
}
.nav-sublinks li{
  margin:15px 0;
}
.nav-sublinks li a{
  font-size: 18px;
  font-style: italic;
}

.nav-burger div{
  width:25px;
  height:3px;
  margin: 4px;
  background-color: grey;
  cursor: pointer;
}
.nav-burger{
  display:none;
}
@media screen and (max-width: 1024px){
  .nav-bar{
    height: 80px;
    font-family: Ubuntu;
    display:flex;
    justify-content:space-between;
    background-color:#fff;
    align-items:center;
  }
  .nav-logo{
    margin-left:20px;
  }
  .nav-burger{
    margin-right:20px;
  }
  .nav-logo img{
    width:70px;
  }
  .nav-links{
    flex-direction:column;
    justify-content: space-around;
    position:absolute;
    top:80px;
    left:20%;
    background-color:#0a3d62;
    width:60%;
    height:80vh;
    visibility:hidden;
  }
  .nav-links li{
    text-align:center;
  }
  .nav-sublinks{
    width:100%;
    text-align:center;
  }
  .nav-burger{
    display:block;
  }
}
.responsive{
  visibility:visible;
}
.scroll{
  border-bottom: 5px solid #041c59;
}
/* ---- NAVBAR END ---- */
