table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0a3d62;
  color: white;
}
td{
  font-family: monospace;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
@media screen and (max-width: 1024px){
  td, th {
    padding: 4px;
    font-size: 6px;
  }
}
