<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body><h4>Bonjour,</h4>
    <p>Un nouveau message vient d'être publier sur le forum du site.</p>
    <p>Par <strong>{{entity.author.firstname}} {{entity.author.name}}</strong></p>
    <hr>
    <h4>Message</h4>
    <p>{{entity.content}}</p>
    <hr>
    <p>Pour vous connecter au site, clicker sur le lien ci-dessous <br>
    <a href="https://www.surfcastingturballais.fr/login">SCT</a> </p>
  </body>
</html>
