<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h4>Bonjour,</h4>
    <p>Un nouvel événement vient d'être publié sur le site</p>
    <p>Par <strong>{{entity.Author.firstname}} {{entity.Author.name}}</strong></p>
    <hr>
    <h4>Titre</h4>
    <p>{{entity.title}}</p>
    <h4>Description</h4>
    <p>{{entity.content}}</p>
    <hr>
    <p>Pour vous connecter au site, clicker sur le lien ci-dessous <br>
    <a href="https://www.surfcastingturballais.fr/login">SCT</a> </p>
  </body>
</html>
