<span style ="font-size : 25px;" class="emoji-trigger">&#9786;</span>
<div class="emoji-picker">
    <span class="emoji">&#128512;</span>
    <span class="emoji">&#128513;</span>
    <span class="emoji">&#128514;</span>
    <span class="emoji">&#128516;</span>
    <span class="emoji">&#128518;</span>
    <span class="emoji">&#128519;</span>
    <span class="emoji">&#128521;</span>
    <span class="emoji">&#128525;</span>
    <span class="emoji">&#128526;</span>
    <span class="emoji">&#128531;</span>
    <span class="emoji">&#128532;</span>
    <span class="emoji">&#128533;</span>
    <span class="emoji">&#128534;</span>
    <span class="emoji">&#128544;</span>
    <span class="emoji">&#128557;</span>
    <span class="emoji">&#128558;</span>
    <span class="emoji">&#128559;</span>
    <span class="emoji">&#128560;</span>
    <span class="emoji">&#128561;</span>
    <span class="emoji">&#128562;</span>
    <span class="emoji">&#128563;</span>
    <span class="emoji">&#128564;</span>
    <span class="emoji">&#128567;</span>
    <span class="emoji">&#129321;</span>
    <span class="emoji">&#127754;</span>
    <span class="emoji">&#127774;</span>
    <span class="emoji">&#127780;</span>
    <span class="emoji">&#127781;</span>
    <span class="emoji">&#127782;</span>
    <span class="emoji">&#127783;</span>
    <span class="emoji">&#127784;</span>
    <span class="emoji">&#127785;</span>
    <span class="emoji">&#127786;</span>
    <span class="emoji">&#127866;</span>
    <span class="emoji">&#127870;</span>
    <span class="emoji">&#127941;</span>
    <span class="emoji">&#127942;</span>
    <span class="emoji">&#128011;</span>
    <span class="emoji">&#128025;</span>
    <span class="emoji">&#128031;</span>
    <span class="emoji">&#128032;</span>
    <span class="emoji">&#128033;</span>
    <span class="emoji">&#128078;</span>
    <span class="emoji">&#128079;</span>
    <span class="emoji">&#128169;</span>
    <span class="emoji">&#128170;</span>
    <span class="emoji">&#128736;</span>
    <span class="emoji">&#129416;</span>
</div>
